---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import Books from "@/layouts/Books.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { BsArrowRightCircle } from "react-icons/bs";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const currentPosts = sortedPosts.slice(0, config.settings.featured);

const books = await getSinglePage("books");
const sortedBooks = sortByDate(books);
const totalPagesOfBooks = Math.ceil(books.length / config.settings.pagination);
const currentBooks = sortedBooks.slice(0, config.settings.pagination);

---

<Base>
  <section class="section">
    <div class="container">
      <Posts posts={currentPosts} className="mb-16" />
      <div class="flex justify-end">
        <a
        href={`/posts`}
        class="inline-flex items-center text-primary transition duration-200 hover:opacity-70"
      >
        Tümünü Gör <BsArrowRightCircle className="inline ml-2" />
      </a>
      </div>
      
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="mb-5">Kitaplar</h2>
      <Books books={currentBooks} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPagesOfBooks} />
    </div>
  </section>
</Base>
