---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Books from "@/layouts/Books.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import Pagination from "@/layouts/components/Pagination.astro";

const books = await getSinglePage("books");
const sortedBooks = sortByDate(books);
const totalPagesOfBooks = Math.ceil(books.length / config.settings.pagination);
const currentBooks = sortedBooks.slice(0, config.settings.pagination);
---
<Base title="">
  <section class="section">
    <div class="container">
      <Books books={currentBooks} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPagesOfBooks} />
    </div>
  </section>
</Base>
